body {
	background: #FFFFFF;
	padding-top: 50px;
	font-family: 'PT Sans', sans-serif;
}

h1 {
	font-weight: 700;
}

.navbar-default {
	border-bottom: none;
	background: #2C3E50;
}

.navbar-brand img {
	height: 40px;
	display: inline;
}

.navbar-brand span {
	position: relative;
	top: -6px;
	color: #FFF;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:visited {
	color: #FFF;
}

.jumbotron {
	background: #18bc9c;
	color: #FFF;
}

#img-jumbotron {
	border: 1px solid #2C3E50;
	padding: 2px;
}

#main-container .row {
	display: flex;
	flex-wrap: wrap;
}

#show .thumbnail {
	padding: 0;
}

#show img {
	width: 100%;
}

#show form {
	display: inline;
}

#inputForm {
	margin: 24% auto;
	max-width: 70%;
}

footer {
	background: #18bc9c;
	color: #FFF;
	text-align: center
}

footer p {
	font-size: 1.3em;
	padding: 1%;
}

footer a {
	color: #FFF;
	border-bottom: 1px dashed #FFF;
}

footer a:hover {
	text-decoration: none;
	color: #FFF;
}